@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');
@import url('https://fonts.googleapis.com/css?family=Merriweather:300i,400,700');
$main-page-col: #009900;
$game-area-col: black;
$info-area-col: maroon;
$lucky-area-col: goldenrod;